header{
    background:url(img/parallax1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}


@media screen and(max-width:670px){
    header{
        min-height : 500px;
    }
}
span{
    color:red
}
.section{
    padding-top:6vh;
    padding-bottom: 6vh;
}

.transparent{
background-color:rgb(0 0 0 /85%)!important;
}
@media(max-width:670px){img{margin:10px;height:400px;width:400px;padding:20px}}
